;
; © 2024-present https://github.com/cengiz-pz
;
[plugin]

name="InappReview"
description="Allows in-app reviews for the Google Play store"
author="Cengiz"
version="5.0"
script="InappReviewPlugin.gd"
